@page "/configstore"
@inject Microsoft.Extensions.Localization.IStringLocalizer<PluginStore> Loc
@attribute [Authorize(Roles = "Admin")]

<h3>@Loc["Config Store"]</h3>

<h5><br />Welcome to the Config Store, here you can download popular configs at the click of a button :). If you would like to add a plugin to this, please follow the README.md on the <a href="https://github.com/BlazeBullet/store">Offical Store Repository</a></h5>

<div class="store">
    <button class="btn btn-sm btn-outline-primary" onclick="loadconfigs()">@Loc["Load Configs"]</button>
    
</div>
