@page "/themestore"
@inject Microsoft.Extensions.Localization.IStringLocalizer<PluginStore> Loc
@attribute [Authorize(Roles = "Admin")]

<h3>@Loc["Theme Store"]</h3>

<h5><br />Welcome to the Theme Store, here you can download popular themes at the click of a button :). If you would like to add a plugin to this, please follow the README.md on the <a href="https://github.com/BlazeBullet/store">Offical Store Repository</a></h5>
<h5 style="color: red;"><br />NOTICE: If these plugins are malicious, please report them on the repo</h5>

<div class="store">
    <button class="btn btn-sm btn-outline-primary" onclick="loadthemes()">@Loc["Load Themes"]</button>

</div>
